@import '../styles/global.scss';

.input-group {
    position: relative;
    margin-left: 100px;
    cursor: text;
}
.input-group__lable {
    cursor: text;
    position: absolute;
    top: 8px;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
    background-color: $just-white;
    width: 420px;
}
#create-task {
    width: 412px;
    height: 50px;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 10px;
    font: inherit;
    background-color: transparent;
    outline: 2px solid $just-black;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.35);
    margin-bottom: 16px;
}
.input-group:focus-within label {
    transform: translate(0, -30px) scale(.8);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background-color: transparent;
}
.input-group:focus-within #create-task {
    outline-color: $blue-light;
}
