@import '../styles/global.scss';

.emptyResults-container {
    margin-top: 100px ;
    width: auto;
    height: 75px;
    text-align: center;
}
.emptyResults-container p{
    color: $just-white;
    font-size: 30px;
    margin: 16px;
}
// .emptyResults-container p:nth-child(3){
//     font-size: 50px;
// }