
$background-blue: #202124;
$blue-light: #61DAFA;
$just-black: #000000;
$check-black: #434343;
$just-white: #ffffff;
$yellow: #FFCC73;
$green: #1C931A;
$red: #EE3A3A;

body {
    margin: 0;
    padding: 0;
    background-color: $background-blue;
    font-family: 'Times New Roman';
    // font-family: 'Tillana', cursive;
}