
$background-blue: #47b5ff;
$blue-light: #61DAFA;
$just-black: #000000;
$just-white: #ffffff;
$yellow: #FFCC73;

body {
    margin: 0;
    padding: 0;
    background-color: $background-blue;
    font-family: 'Times New Roman';
    // font-family: 'Tillana', cursive;
}