@import '../styles/global.scss';

.TodoSearch {
    width: 403px;
    height: 40px;
    left: 812px;
    top: 322px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.35);
    margin-top: 16px;
}
::placeholder {
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
:focus {
    outline-color: $blue-light;
}
.TodoSearch:disabled{
    background-image: 
    linear-gradient(90deg, #ccc 0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px);
    background-size: 300%;
    background-position: 100% 0;
    border-radius: 10px;
    animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
    to {
        background-position: -190% 0;
    }
}