@import "./global.scss";

.TodoForm {
    padding: 20px;
    max-width: 300px;
    background-color: $background-blue;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.TodoForm p {
    width: auto;
    margin: auto;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.TodoForm p span{
    color: $yellow;
}
.button {
    margin: 16px;
    width: 108px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color: $just-white;
    border-radius: 10px;
    cursor: pointer;
}

.cancel-button {
    background: $red;
}
.accept-button {
    background: $green;
}