:root {
  --background-blue: #47B5FF
  --just-black: #000000;
  --yellow: #FFCC73;
}
body {
  margin: 0;
  padding: 0;
  background-color: #47B5FF;
  /* background: linear-gradient(180deg, rgba(71, 181, 255, 0) 24.83%, #2192FF 40.45%); */
  color: --black;
  /* font-family: 'Times New Roman'; */
  font-family: 'Tillana', cursive;
}


